<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GamerHub</title>
    <link rel="stylesheet" href="./frontpage.css">

</head>
<body>
    <div class="content">
        <header class="navbar">
            <div class="login_button"><span><a href="#">LOGIN / REGISTER</a></span></div>
        </header>
        <main class="main">
            <h1>GamerHub</h1>
            <p>
                GamerHub is a social plateform for connect with friends and find the best teammates.
            </p>
            <hr>
            <div class="game_picture">
                <section class="card">
                    <header>gameA</header>
                    <span><a href="#"><img src="" alt="gameA"/></a></span>
                  </section>
                  <section class="card">
                    <header>gameB</header>
                    <span><a href="#"><img src="" alt="gameB"/></a></span>
                  </section>
                  <section class="card">
                    <header>gameC</header>
                    <span><a href="#"><img src="" alt="gameC"/></a></span>
                  </section>
                  <section class="card">
                    <header>gameD</header>
                    <span><a href="#"><img src="" alt="gameD"/></a></span>
                  </section>
            </div>
            <hr>


        </main>


    </div>
</body>
</html>