{{#each games as |game|}}
<section class="card">
  <header>{{game.game_title}}</header>
  <span><a href="/game/{{game.id}}"><img src="/images/{{game.filename}}" alt="{{game.game_title}}" /></a></span>
</section>
{{/each}}