<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage GamerHub</title>
</head>
<body>
    <div class="content">
        <nav class="navbar">
            <h1>Welcome back, {{USERNAME}}</h1>
            <div class="new_post_button"><span><a href="#">new post</a></span></div>
            <div class="logout_button"><span><a href="#">logout</a></span></div>
        </nav>        <hr>
        <div class="game_picture">
            <section class="card">
                <header>gameA</header>
                <span><a href="#"><img src="" alt="gameA"/></a></span>
              </section>
              <section class="card">
                <header>gameB</header>
                <span><a href="#"><img src="" alt="gameB"/></a></span>
              </section>
              <section class="card">
                <header>gameC</header>
                <span><a href="#"><img src="" alt="gameC"/></a></span>
              </section>
              <section class="card">
                <header>gameD</header>
                <span><a href="#"><img src="" alt="gameD"/></a></span>
              </section>
        </div>
        <hr>
        <div class="recent-post">
            <h1>Recent Post</h1>
            <div class="post_card_container"></div>
        </div>
    </div>
</body>
</html>