<div class="row">
  <div class="col-md-6">
    <h2>Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Login</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <h2>Signup</h2>

    <form class="form signup-form">
      <div class="form-group"> {{! username}}
        <label for="name-signup">Username:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Signup</button>
      </div>
      {{!platform -dropdown- check platform-seeds}} 
      <div class="dropdown form-group"> 
            <button onclick="myFunction()" class="dropbtn" for="platform">Choose your platform!</button>
            <div class="dropdown-content form-group" id="platform" />
              <a href="#pc">PC</a>
              <a href="#playstation">Playstation</a>
              <a href="#xbox">Xbox</a>
              <a href="#nintendo">Nintendo</a>
              <a href="#other">Other</a>
            </div>
      </div>
       {{! New div for discord -text-}}
      <div class="form-group">
            <label for="discord-id">What's your Discord ID?</label>
            <input class="form-group" type="text" id="discord-id" />
      </div>
       {{! New div for psn id -text-}}
      <div class="form-group">
            <label for="psn-id">What's your PSN ID?</label>
            <input class="form-group" type="text" id="psn-id" />
      </div>
       {{! New div for x-box id -text-}}
      <div class="form-group">
            <label for="xbox-id">What is your Xbox ID?</label>
            <input class="form-group" type="text" id="xbox-id" />
      </div>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>
