<div class="row">
  <div class="col-md-6">
    <h2>Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Login</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <h2>Signup</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">Name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Signup</button>
      </div>
      <div class="form-group">
            <label for="display-picture">Choose a display picture!</label>
            <input class="form-group" type="image" id="display-picture" />
      </div>
      <div class="form-group">
            <label for="games-list">What games do you play?</label>
            <input class="form-group" type="checkbox" id="games-list" />
      </div>
      <div class="form-group">
            <label for="platform">Gaming platform</label>
            <input class="form-group" type="checkbox" id="platform" />
      </div>
      <div class="form-group">
            <label for="social-links">What are your social handles?</label>
            <input class="form-group" type="text" id="social-links" />
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>
