*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.break{
    background-color: rgb(243, 198, 75);
    height: 4px;
    border-radius: 30%;
}

.post-container{
    text-decoration: none;
}

.details{
    color: rgb(0, 0, 0);
}

.hide{
    display: none;
}
/* give minimum height to the game cards so games with long names still render in the same sized card */
.game-card{
    min-height: 318px;
}