@import url("https://fonts.googleapis.com/css?family=Nunito:400,600,700");


body {
    font-family: "Nunito", sans-serif;
    color: rgba(#000, 0.7);
    background: linear-gradient(-45deg, #ffe2ac, #000000, #ffd17c, #000000);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.header {
    display: flex;
    justify-content: space-around;
}

.header h1 {
    color: #ffa500;
}
.new_post_button,
.logout_button {
    width: 149px;
    height: 42px;
    background-color: #ffa500;
    border-radius: 10px;
    margin: 15px auto 0px auto;
    text-align: center;
    cursor: pointer;
    clear: both;
}

.new_post_button:hover,
.logout_button:hover{
    background-color: #fff;
    color: #ffa500;
}

.new_post_button span,
.logout_button span {
    font-weight: normal;
    font-size: 28px;
    line-height: 40px;
}
.new_post_button span a,
.logout_button span a{
    text-decoration: none;
    color: #fff;
}
.new_post_button span a:hover,
.logout_button span a:hover{
    background-color: #fff;
    color: #ffa500;
}

.card {
    border-style: solid;
    border-color: #ffa500;
    border-width: 1px;
    border-radius: 50px;
    padding: 11px;
    flex: 0 0 117px;
    transform: rotate(8deg);
    margin: 23px;
  }
  
  /* Added border-radius to match the card */
  .card header {
    border-radius: 50px 50px 0px 0px;
    padding: 20px;
    color: #ccc;
  }
  
  .card p {
    text-align: center;
  }
  
  .card img {
    width: 100%;
  }
  
  @media screen and (max-width: 768px) {
    .game_picture,
    header {
      flex-direction: column;
    }
  }