@import url("https://fonts.googleapis.com/css?family=Nunito:400,600,700");


body {
    font-family: "Nunito", sans-serif;
    color: rgba(#000, 0.7);
    background: linear-gradient(-45deg, #ffe2ac, #000000, #ffd17c, #000000);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
header {
    display: flex;
    justify-content: space-around;
}


h1, h2, h3, h4, h5, h6 {
    font-family: "Nunito", sans-serif;
    color: #ffa500;
}

.content {
    display: flex;
  flex-direction: row;
  /* Centers along the main axis determined by flex-direction */
  justify-content:space-evenly;
  /* Centers along the opposite axis */
}

.register-form form,
.login-form form {
    width: 220px;
    height: 238px;
    background-color: #000;
    padding: 16px 18px 99px 4px;
    border-radius: 15px;
    color: #fff;
    text-transform: uppercase;
    font-size: 19px;
    font-weight: bold;
}
.register-form input, 
.login-form input,
.register-form select,
.login-form select
 {
    width: 230px;
    height: 29px;
    margin: 7px 7px 4px 2px;
    border: 0px;
    font-weight: lighter;
    
}
.register-form input:focus,
.login-form input:focus {
    background-color: #ffa500;
}
.register-form form label
.login-form form label {
    margin: 5px 0px 0px 15px;
}
a {
    outline: none;
}
.register_button,
.homepage_button {
    width: 149px;
    height: 42px;
    background-color: #ffa500;
    border-radius: 10px;
    margin: 15px auto 0px auto;
    text-align: center;
    cursor: pointer;
    clear: both;
}


.login_button {
    width: 149px;
    height: 42px;
    background-color: #ffa500;
    border-radius: 10px;
    margin: 145px  auto 0px auto;
    text-align: center;
    cursor: pointer;
    clear: both;
}
.register_button:hover,
.login_button:hover,
.homepage_button:hover {
    background-color: #fff;
    color: #ffa500;
}
.register_button span,
.homepage_button,
.login_button span {
    font-weight: normal;
    font-size: 28px;
    line-height: 40px;
}
.register_button span a,
.homepage_button,
.login_button span a,
.homepage_button span a {
    text-decoration: none;
    color: #fff;
}
.register_button span a:hover,
.login_button span a:hover,
.homepage_button span a:hover {
    background-color: #fff;
    color: #ffa500;
}

.homepage_button {
    margin-right: 100px;
}
.error {
    display: none;
}
span.error {
    margin-right: 20px;
    font-size: 9px;
    color: #ffa500;
    height: 10px;
}
p.error {
    margin: 0px 14px 0px 10px;
    font-size: 9px;
    color: #ffa500;
    height: 6px;
    padding: 0px 0px 8px 0px;
    text-align: right;
    text-transform: none;
}
